@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  @apply text-center flex  flex-col items-center  font-karla;
  background: #000000;
  background: radial-gradient(circle at top, #2a2a2a, #000000 40%);
  background-attachment: fixed;
}
.proyecto {
  @apply p-8 mt-8 flex gap-8 justify-between;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(208, 208, 208, 0.2);
}

.img {
  box-shadow: 0 0 20px rgb(74, 74, 74);
  width: 300px;
}
