@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  @apply text-center flex  flex-col items-center  font-karla;
  background: #000000;
  background: radial-gradient(circle at top, #661c1c, #000000 40%);
  background-attachment: fixed;
}

.textoSimple {
  @apply text-pretty  text-grayText  w-[700px];
}

h1 {
  @apply text-4xl font-semibold pt-28 text-white;
}
.proyecto {
  @apply mt-8 w-48 h-52 text-sm;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgba(255, 254, 254, 1);
}

.img {
  @apply mb-4 rounded-xl;
  width: 224px;
  height: 100px;
}
.selected-proyect .img {
  @apply mb-4 rounded-xl;
  width: 250px;
  height: 160px;
}
.selected-proyect {
  @apply rounded-2xl p-4 text-white;
  margin: 10% 0 0 0;
  box-shadow: 0px 0px 20px rgba(255, 254, 254, 0.8);
  background-color: rgb(8, 8, 8);
  position: fixed;
  width: 500px;
  height: 300px;
}
.proyectList {
  @apply flex flex-row justify-between w-[900px];
}
