@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle at top, #2a2a2a, #000000 40%);
  background-attachment: fixed;
}

.navBar-Link {
  @apply rounded-full p-1  text-white;
  background: radial-gradient(circle, #696666, rgb(73, 72, 72) 10%);
  box-shadow: 0 0 10px #fffcfc;
  text-shadow: 0 0 10px #fffcfc;
}
